<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/fotoum.jpg" alt="homem">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Subtitulo do card</ion-card-subtitle>
      <ion-card-title>Texto aleatorio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Malbec é uma fragrância masculina da família das Amadeiradas.
      É única e desenvolvida através de um processo de fabricação exclusivo no mundo.
    </ion-card-content>
  </ion-card>

</ion-content>
