<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/fotoum.jpg" alt="homem">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="star"></ion-icon>
      <ion-label>johnny depp</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail"></ion-icon>
      <ion-label>johnnyD.203@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="globe"></ion-icon>
      <ion-label>www.consorcioryzen.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram"></ion-icon>
       <ion-label>john.depp</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-github"></ion-icon>
       <ion-label>johnny Christopher</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="alert"></ion-icon>
       <ion-label>V. 0.0.1</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
